In [4]:
import pandas as pd
from io import StringIO

In [2]:
data = '{"employee_name": "Sarthak", "email": "sarthak@satyukt.com", "job_profile": [{"title_1": "Jr GIS Analyst", "title_2": "GIS Anlayst", "title_3": "Senior Analyst"}]}'

In [7]:
eval(data)

{'employee_name': 'Sarthak',
 'email': 'sarthak@satyukt.com',
 'job_profile': [{'title_1': 'Jr GIS Analyst',
   'title_2': 'GIS Anlayst',
   'title_3': 'Senior Analyst'}]}

In [12]:
type(eval(data))

dict

In [14]:
type(StringIO(data))

_io.StringIO

In [10]:
pd.read_json(eval(data))

ValueError: Invalid file path or buffer object type: <class 'dict'>

In [16]:
df = pd.read_json(StringIO(data))
df

,employee_name,email,job_profile
0,Sarthak,sarthak@satyukt.com,"{'title_1': 'Jr GIS Analyst', 'title_2': 'GIS ..."

In [19]:
df.to_json()

'{"employee_name":{"0":"Sarthak"},"email":{"0":"sarthak@satyukt.com"},"job_profile":{"0":{"title_1":"Jr GIS Analyst","title_2":"GIS Anlayst","title_3":"Senior Analyst"}}}'

In [21]:
# same manner which we provided
df.to_json(orient='records')

'[{"employee_name":"Sarthak","email":"sarthak@satyukt.com","job_profile":{"title_1":"Jr GIS Analyst","title_2":"GIS Anlayst","title_3":"Senior Analyst"}}]'

In [23]:
# read from URL "https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data"

df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data", header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [25]:
## Read from html "https://www.fdic.gov/bank-failures/failed-bank-list"

df = pd.read_html("https://www.fdic.gov/bank-failures/failed-bank-list")
df ## output is list of tables, you can explore tables with index number

[                               Bank Name               City          State  \
 0  Republic First Bank dba Republic Bank       Philadelphia   Pennsylvania
 1                          Citizens Bank           Sac City           Iowa
 2               Heartland Tri-State Bank            Elkhart         Kansas
 3                    First Republic Bank      San Francisco     California
 4                         Signature Bank           New York       New York
 5                    Silicon Valley Bank        Santa Clara     California
 6                      Almena State Bank             Almena         Kansas
 7             First City Bank of Florida  Fort Walton Beach        Florida
 8                   The First State Bank      Barboursville  West Virginia
 9                     Ericson State Bank            Ericson       Nebraska

     Cert                 Aquiring Institution       Closing Date   Fund
 0  27332    Fulton Bank, National Association     April 26, 2024  10546
 1   8758            Iowa Trust & Savings Bank   November 3, 2023  10545
 2  25851               Dream First Bank, N.A.      July 28, 2023  10544
 3  59017            JPMorgan Chase Bank, N.A.        May 1, 2023  10543
 4  57053                  Flagstar Bank, N.A.     March 12, 2023  10540
 5  24735  First Citizens Bank & Trust Company     March 10, 2023  10539
 6  15426                          Equity Bank   October 23, 2020  10538
 7  16748            United Fidelity Bank, fsb   October 16, 2020  10537
 8  14361                       MVB Bank, Inc.      April 3, 2020  10536
 9  18265           Farmers and Merchants Bank  February 14, 2020  10535  ]

In [26]:
df[0]

,Bank Name,City,State,Cert,Aquiring Institution,Closing Date,Fund
0,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
1,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
2,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
3,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
4,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
5,Silicon Valley Bank,Santa Clara,California,24735,First Citizens Bank & Trust Company,"March 10, 2023",10539
6,Almena State Bank,Almena,Kansas,15426,Equity Bank,"October 23, 2020",10538
7,First City Bank of Florida,Fort Walton Beach,Florida,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
8,The First State Bank,Barboursville,West Virginia,14361,"MVB Bank, Inc.","April 3, 2020",10536
9,Ericson State Bank,Ericson,Nebraska,18265,Farmers and Merchants Bank,"February 14, 2020",10535

In [31]:
# read from html and use 'match' keyword using "https://en.wikipedia.org/wiki/Mobile_country_code"
#  match will only show you table that have country code in the header

df = pd.read_html("https://en.wikipedia.org/wiki/Mobile_country_code", match='Country')
df[0].head(5)

,Mobile country code,Country,ISO 3166,Mobile network codes,National MNC authority,Remarks
0,289,A Abkhazia,GE-AB,List of mobile network codes in Abkhazia,NaN,MCC is not listed by ITU
1,412,Afghanistan,AF,List of mobile network codes in Afghanistan,NaN,NaN
2,276,Albania,AL,List of mobile network codes in Albania,NaN,NaN
3,603,Algeria,DZ,List of mobile network codes in Algeria,NaN,NaN
4,544,American Samoa (United States of America),AS,List of mobile network codes in American Samoa,NaN,NaN

In [33]:
# read from excel file "sample_excel.xlsx"
df = pd.read_excel("sample_excel.xlsx")
df.head()

       Name  Age
0   Sarthak   29
1     Sanya   26
2  Upashana   29

In [35]:
# we can use pickle file for storing ml models into pickle file
df.to_pickle("pickle_file_sample")

In [36]:
pd.read_pickle('pickle_file_sample')

       Name  Age
0   Sarthak   29
1     Sanya   26
2  Upashana   29