In [15]:
import sqlite3

In [16]:
## Connect SQLite 3 data base
conecttion = sqlite3.connect('example.db')
conecttion

In [17]:
# create a cursor 
cursor = conecttion.cursor()

In [18]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees(
    id INT PRIMARY KEY,
    name TEXT NOT NULL,
    age INT,
    department text)''')

## Commit the changes
conecttion.commit()

In [19]:
cursor.execute('''
SELECt * FROM employees''')

In [21]:
### Insert the data into employees data

cursor.execute(
    '''
    INSERT INTO employees(id, name, age,department)
     VALUES(1, "Sarthak", 29, "Senior Analyst")
    '''
)

cursor.execute(
    '''
    INSERT INTO employees(id, name,age,department)
     VALUES(2, "Sar", 2, "Analyst")
    '''
)

cursor.execute(
    '''
    INSERT INTO employees(id, name,age,department)
     VALUES(3, "thak", 9, "Junior Analyst")
    '''
)

# Commit the code

conecttion.commit()

In [22]:
# Querying the db table
cursor.execute(
    '''
    SELECT * FROM employees
    '''
)

row = cursor.fetchall()

print(row)

[(1, 'Sarthak', 29, 'Senior Analyst'), (2, 'Sar', 2, 'Analyst'), (3, 'thak', 9, 'Junior Analyst')]

In [25]:
# Update the table
cursor.execute(
    '''
    UPDATE employees
    SET age=30
    WHERE name='Sarthak' 
    '''
)
conecttion.commit()

In [26]:
# Querying the db table
cursor.execute(
    '''
    SELECT * FROM employees
    '''
)

row = cursor.fetchall()

print(row)

[(1, 'Sarthak', 30, 'Senior Analyst'), (2, 'Sar', 2, 'Analyst'), (3, 'thak', 9, 'Junior Analyst')]

In [29]:
### DELETE data from table

cursor.execute(
    '''
    DELETE FROM employees
    WHERE name="Sar"
    '''
)

conecttion.commit()

In [30]:
# Querying the db table
cursor.execute(
    '''
    SELECT * FROM employees
    '''
)

row = cursor.fetchall()

print(row)

[(1, 'Sarthak', 30, 'Senior Analyst'), (3, 'thak', 9, 'Junior Analyst')]

#### Project fetch data from csv and put it in data base

In [32]:
sales = sqlite3.connect('Sales.db')
sales

In [33]:
cursor = sales.cursor()

In [34]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
    id INT PRIMARY KEY,
    date TEXT NOT NULL,
    product_name TEXT,
    price INT,
    region TEXT)''')

## Commit the changes
conecttion.commit()

In [35]:
SALES_DATA = [(1,'2023-01-02', 'Product_1', 100, 'North'),
              (2,'2023-01-03', 'Product_2', 200, 'East'),
              (3,'2023-01-04', 'Product_3', 300, 'Wast'),
              (4,'2023-01-05', 'Product_4', 400, 'South'),
              (5,'2023-01-06', 'Product_5', 500, 'North-East')
              ]

cursor.executemany(
    '''
    INSERT INTO sales(id, date, product_name, price, region)
    VALUES(?,?,?,?,?)
    
    ''', SALES_DATA
)
sales.commit()

In [36]:
cursor.execute(
    '''
    SELECT * FROM sales
    '''
)

row = cursor.fetchall()

print(row)

[(1, '2023-01-02', 'Product_1', 100, 'North'), (2, '2023-01-03', 'Product_2', 200, 'East'), (3, '2023-01-04', 'Product_3', 300, 'Wast'), (4, '2023-01-05', 'Product_4', 400, 'South'), (5, '2023-01-06', 'Product_5', 500, 'North-East')]

In [37]:
# Close the connection
sales.close()